body{font-family: "Ubuntu", sans-serif;
background-image: linear-gradient(180deg, #A33B07,#D4370B);}
a{text-decoration: none;}
h1,h2,h3,h4,h5,p{color: #000;padding-bottom: 30px;}

.big-text{font-size: 3rem; font-weight: 900;}
.med-text{font-size: 2rem;font-weight:700;}
.normal-text{font-size: 1.5rem;font-weight:700;}
.small-text{font-size: 0.8rem;}

.intro-text{text-transform: uppercase;
font-size: 20px;
font-weight: bold;}


.press-logo{width:100px;
height:100px;}

.header{
  width:100%;
  position: fixed;
  top:0;
  left:18%;
  padding:30px;
  display:flex;
  max-width:1350px;

}

.card-img-top{width:400px;
height:400px;}
.press-logo{width:100px;
height:100px;}



  header {
  position: relative;
  background-image: url("images/piramide.jpg");
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}


header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}
footer {font-size: 2rem;
  font-weight: 300;
  display: flex;
  justify-content: center;
  padding: 2rem;


}

footer > p {
  margin: 2rem;
}

footer i {
  vertical-align: middle;
}
.fa {
  padding: 15px;
  font-size: 2rem;
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;

}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-instagram {
  background: #fb3958;
  color: white;
}
.fa-github {
  background: black;
  color: white;
}
